.tb-upcoming-event h2 {
	text-transform: uppercase;
	font-size: 16px;
}

.tb-upcoming-event .tb-image-spacer {
	margin: 20px 0;
	overflow: hidden;
	clear: both;
}

#event-countdown .event-date {
	padding: 0 30px;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	display: inline-block;
	float: left;
}

#event-countdown .event-date:nth-child(1) {
	padding-left: 0;
}

#event-countdown .event-date:nth-child(4) {
	border-right: none;
	padding-right: 0;
}

#event-countdown .event-label {
	text-align: center;
	font-size: 38px;
	line-height: 45px;
	display: block;
	width: 100%;
}

#event-countdown .str.event-label {
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
}

.tb-upcoming-event .button_list {
	overflow: hidden;
}

.tb-upcoming-event .button_list .btn {
	margin-top: 35px;
	border: none;
	text-transform: uppercase;
	color: #fff;
	font-weight: normal;
	padding: 20px;
}

.tb-upcoming-event .button_list .btn.alignleft {
	background: #043174;
}

.tb-upcoming-event .button_list .btn.alignleft:hover {
	background: #053f95;
}

.tb-upcoming-event .button_list .btn.alignright {
	background: #D20921;
}

.tb-upcoming-event .button_list .btn.alignright:hover {
	background: #f30a26;
}